.careers-container {
    font-family: 'Roboto', sans-serif;
    padding: 2rem 1rem;
    max-width: 80%;
    margin: auto;
    text-align: center;
}

.careers-header {
    margin-bottom: 2rem;
}

.careers-header h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.careers-header p {
    font-size: 1.2rem;
}

.job-openings {
    margin-bottom: 2rem;
}

.job-openings h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.job-listing {
    background: #f9f9f9;
    padding: 1rem 2rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    text-align: left;
}

.job-listing h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.job-listing p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.apply-section {
    background: #f1f1f1;
    padding: 2rem;
    border-radius: 8px;
}

.apply-section h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.apply-form {
    max-width: 600px;
    margin: auto;
    text-align: left;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: black;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="file"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.submit-btn:hover {
    background-color: #3e8e41;
}

@media (max-width: 768px) {
    .careers-container {
        max-width: 95%;
        margin: auto;
    }
    .careers-header h1 {
        font-size: 2rem;
    }
    .job-openings h2 {
        font-size: 2rem;
    }
    .job-listing h3 {
        font-size: 1.3rem;
    }

    .apply-section h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .careers-header h1 {
        font-size: 1.5rem;
    }

    .job-listing h3 {
        font-size: 1.2rem;
    }

    .apply-section h2 {
        font-size: 1.2rem;
    }
}
